RewriteEngine on
RewriteCond %{HTTP:X-Forwarded-Protocol} !=https
RewriteRule . https://%\{SERVER_NAME\}%\{REQUEST_URI\} [R=301,L]

RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ https://%1/$1 [R=301,L]