.gradientText {
    background-image: linear-gradient(
        44deg,
        #5046e5 25%,
        #ff5eff
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}